<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Change value in connectionString to the real value of dataSoure in your computer-->
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="medicalManagement" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLHT;Integrated Security=True"
   providerName="System.Data.ProviderName" />
  <add name="medical_management.Properties.Settings.QLHTConnectionString"
   connectionString="Data Source=DESKTOP-54FNVJ8\SQLEXPRESS;Initial Catalog=QLHT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="medical_management.Properties.Settings.QLHTConnectionString1"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLHT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>