<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Change value in connectionString to the real value of dataSoure in your computer-->
	<connectionStrings>
		<add name="medicalManagement" 
			 providerName="System.Data.ProviderName"
			 connectionString="Data Source=DESKTOP-54FNVJ8\SQLEXPRESS;Initial Catalog=QLHieuThuoc;Integrated Security=True" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>